@model Consomi.net.Models.User

@{
    ViewBag.Title = "getcmdbyuser";
}

<h2>getcmdbyuser</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Iduser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iduser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nbrpoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nbrpoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pointconverti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pointconverti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Connected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Connected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaireClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaireClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Premium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Premium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotHour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
