@model IEnumerable<Consomi.net.Models.Command>






@{
    ViewBag.Title = "ListTransaction";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Freshshop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/csss/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Content/csss/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/csss/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/csss/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-light navbar-full">
        <div class="col-md-3">
            <div class="logo">

                <a href="@Url.Action("Index","Home")">
                    <img src="~/Content/img/logo.png" alt="Logo" width="100">

                </a>

            </div>

        </div>
        <a href="#" class="navbar-brand">MENU</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
                <a href="@Url.Action("ListTransaction","Command")" class="nav-item nav-link"><h2>Transaction Management</h2></a>
                <a href="@Url.Action("Index","Cart")" class="nav-item nav-link active">Cart Management</a>
                <a href="@Url.Action("listeOrderadmin","Command")" class="nav-item nav-link">Order Management</a>
                <a href="@Url.Action("Index","Bill")" class="nav-item nav-link ">Bill Management</a>



                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Bank Management</a>
                        <div class="dropdown-menu">
                            <a href="@Url.Action("Index","Operation")" class="dropdown-item">Banking operations</a>
                            <a href="@Url.Action("Index","Compte")" class="dropdown-item">Bank accounts</a>
                        </div>
                    </div>
                </div>


    </nav>

</div>



        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        
                        <div class="bottom-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <div class="logo">

                                            @*<a href="@Url.Action("Index","Home")">
                    <img src="~/Content/img/logo.png" alt="Logo">

                </a>*@

                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="search">
                                            <input type="text" placeholder="Search">
                                            <button><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="row align-items-center">
                                            <div class="breadcrumb-wrap">
                                                <div class="container-fluid">
                                                    <ul class="breadcrumb">
                                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                        <li class="breadcrumb-item"><a href="#">Order</a></li>
                                                        <li class="breadcrumb-item active">Transaction</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-centered table-nowrap mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 95px;" aria-label="Order ID: activate to sort column ascending">Num_Order</th>
                                                    @*<th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 95px;" aria-label="Order ID: activate to sort column ascending">Product_Name</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 95px;" aria-label="Order ID: activate to sort column ascending">Product_Description</th>*@
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 95px;" aria-label="Order ID: activate to sort column ascending">Payement_Method</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;" aria-label="Date: activate to sort column ascending">Date_Creation</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 133px;" aria-label="Billing Name: activate to sort column ascending">Price</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 63px;" aria-label="Total: activate to sort column ascending">Currency</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 63px;" aria-label="Total: activate to sort column ascending">Valid-Payement</th>

                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 163px;" aria-label="Payment Status: activate to sort column ascending">Status</th>
                                                    <th style="width: 120px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        @*<td>
                                <div class="form-check font-size-16">
                                    <input type="checkbox" class="form-check-input" id="customCheck2">
                                    <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                </div>
                            </td>*@
                                                        <td>@Html.DisplayFor(modelItem => item.Numcommand) </td>
                                                        <td>
                                                            <i class="fab fa-cc-mastercard me-1"></i> @Html.DisplayFor(modelItem => item.Payement)
                                                        </td>
                                                        <td>@Html.DisplayFor(modelItem => item.DateCreation)</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Price)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Currency)
                                                        </td>
                                                        <td>
                                                            <span class="badge radio bg-soft-success font-size-12">@Html.DisplayFor(modelItem => item.Validpayement)</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge bg-success bg-soft-success font-weight-bold">@Html.DisplayFor(modelItem => item.Etat)</span>
                                                        </td>

                                                        <td>
                                                            <!-- Button trigger modal -->

                                                            <div class="input-group-btn">

                                                                
                                                                <button type="submit" @*value="Add to Cart"*@ class="btn btn-default"><span class="fas fa-file-invoice-dollar"></span> @Html.ActionLink("Payement_status", "updatestatus", new { id = item.Idcommand })</button>
                                                                <button type="submit" @*value="Add to Cart"*@ class="btn btn-default"><span class="fas fa-hand-holding-usd"></span> @Html.ActionLink("Transfer Amount ", "payamounttoseller", new { id = item.Idcommand })</button>
                                                                <button type="submit" @*value="Add to Cart"*@ class="btn btn-default"><span class="fas fa-money-bill-wave"></span> @Html.ActionLink("Refund_Order", "remboursercommand", new { id = item.Idcommand })</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- end table-responsive -->
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>