@model Consomi.net.Models.ProgrammeFidelite

@{
    ViewBag.Title = "addpointfidelity";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">


    <link rel="stylesheet" href="~/Content/csss/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/csss/style.css">

    <link rel="stylesheet" href="~/Content/csss/responsive.css">

    <link rel="stylesheet" href="~/Content/csss/custom.css">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>
<div class="col-md-3">
    <div class="logo">

        <a href="@Url.Action("Index","Home")">
            <img src="~/Content/img/logo.png" alt="Logo" width="100">

        </a>

    </div>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Programme_Fidelite</h4>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Idfidilite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Idfidilite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Idfidilite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-danger" />
        </div>
    </div>
</div>
}

