@model IEnumerable<Consomi.net.Models.ProgrammeFidelite>

@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">

    <link rel="stylesheet" href="~/Content/csss/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/csss/style.css">

    <link rel="stylesheet" href="~/Content/csss/responsive.css">

    <link rel="stylesheet" href="~/Content/csss/custom.css">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width" />

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>

<table class="table">
    <tr>
        <th>
            Pointconverti
        </th>
        <th>
            Nbrpoint
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Command.Cart.user.Pointconverti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Command.Cart.user.Nbrpoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Manage the fidelity program", "addpointfidelity", new { id = item.Idfidilite })
                @*@Html.ActionLink("Details", "Details", new { id = item.Idfidilite }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Idfidilite })*@
            </td>
        </tr>
    }

</table>
