@model IEnumerable<Consomi.net.Models.Cart>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">
   
    <link rel="stylesheet" href="~/Content/csss/bootstrap.min.css">
   
    <link rel="stylesheet" href="~/Content/csss/style.css">
   
    <link rel="stylesheet" href="~/Content/csss/responsive.css">
    
    <link rel="stylesheet" href="~/Content/csss/custom.css">
    
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width" />

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>

<div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-light navbar-full">
        <div class="col-md-3">
            <div class="logo">

                <a href="@Url.Action("Index","Home")">
                    <img src="~/Content/img/logo.png" alt="Logo" width="100">

                </a>

            </div>

        </div>
        <a href="#" class="navbar-brand">MENU</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
                <a href="@Url.Action("ListTransaction","Command")" class="nav-item nav-link">Transaction Management</a>
                <a href="@Url.Action("Index","Cart")" class="nav-item nav-link active"><h2>Cart Management </h2></a>
                <a href="@Url.Action("listeOrderadmin","Command")" class="nav-item nav-link">Order Management</a>
                <a href="@Url.Action("Index","Bill")" class="nav-item nav-link ">Bill Management</a>



                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Bank Management</a>
                        <div class="dropdown-menu">
                            <a href="@Url.Action("Index","Operation")" class="dropdown-item">Banking operations</a>
                            <a href="@Url.Action("Index","Compte")" class="dropdown-item">Bank accounts</a>
                        </div>
                    </div>
                </div>


    </nav>



    <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="breadcrumb-wrap">
                    <div class="container-fluid">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Cart</a></li>
                            <li class="breadcrumb-item active">Index</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-6">
            <div class="search">
                <input type="text" placeholder="Search">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>*@

        <table class="table">
            <div class="table-hover">
                <tr>
                    <th>
                        Code_Cart
                    </th>
                    <th>
                        Total_Cart
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Currency)
                    </th>
                    <th>
                        Cart_Status
                    </th>
                    <th>
                        Action
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idcart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            <span class="badge bg-warning bg-soft-success font-weight-bold"> @Html.DisplayFor(modelItem => item.Etatcart)
</td>
                        <td>
                            <div class="input-group-btn">

                                <button type="submit"
                                        value="Add to Cart"
                                        class="btn btn-outline-danger">
                                    @Html.ActionLink(" Detail_Cart", "detailcart", new { id = item.Idcart })
                                </button>

                                <button type="submit"
                                        value="Add to Cart" class="popup btn btn-outline-info">
                                    @Html.ActionLink(" Delete", "Delete", new { id = item.Idcart })

                                </button>


                            </div>

                        </td>
                    </tr>
                }

        </table>

        <div style="width:90%; margin:0 auto" class="tablecontainer">
            <a class="popup btn btn-danger" href="/Cart/Create" style="margin-bottom:20px; margin-top:50px;">Add & Assign Cart To User</a>

            @*<table id="myDatatable">
            <thead>*@
            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
            <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

            <script>
                $(document).ready(function () {

                    $('.tablecontainer').on('click', 'a.popup', function (e) {
                        e.preventDefault();
                        OpenPopup($(this).attr('href'));
                    })
                    function OpenPopup(pageUrl) {
                        var $pageContent = $('<div/>');
                        $pageContent.load(pageUrl, function () {
                            $('#popupForm', $pageContent).removeData('validator');
                            $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                            $.validator.unobtrusive.parse('form');

                        });

                        $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                            .html($pageContent)
                            .dialog({
                                draggable: false,
                                autoOpen: false,
                                resizable: false,
                                model: true,
                                title: 'Popup Dialog',
                                height: 550,
                                width: 600,
                                close: function () {
                                    $dialog.dialog('destroy').remove();
                                }
                            })

                        $('.popupWindow').on('submit', '#popupForm', function (e) {
                            var url = $('#popupForm')[0].action;
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: $('#popupForm').serialize(),
                                success: function (data) {
                                    if (data.status) {
                                        $dialog.dialog('close');
                                        oTable.ajax.reload();
                                    }
                                }
                            })

                            e.preventDefault();
                        })
                        $dialog.dialog('open');
                        // swal("Good job!", "You clicked the button!", "success");
                    }
                })
            </script>
        </div>
      

