@model Consomi.net.Models.Compte

@{
    ViewBag.Title = "Detail";
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Freshshop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/csss/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Content/csss/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/csss/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/csss/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<div>


    <dl class="dl-horizontal">

        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="@Url.Action("Index", "Home")" class="nav-item nav-link ">Home</a>
                            <a href="@Url.Action("products", "Home")" class="nav-item nav-link">Products</a>
                            <a href="@Url.Action("shopdetail", "Home")" class="nav-item nav-link">Shop Detail</a>
                            <a href="@Url.Action("Index","LigneCommand")" class="nav-item nav-link active">Cart</a>
                            <a href="@Url.Action("checkout", "Home")" class="nav-item nav-link">Checkout</a>
                            <a href="@Url.Action("myaccount", "Home")" class="nav-item nav-link">My Account</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                                <div class="dropdown-menu">
                                    <a href="@Url.Action("wishlist", "Home")" class="dropdown-item">Wishlist</a>
                                    <a href="@Url.Action("login", "Home")" class="dropdown-item">Login & Register</a>
                                    <a href="@Url.Action("Contact", "Home")" class="dropdown-item">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Login</a>
                                    <a href="#" class="dropdown-item">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Nav Bar End -->
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/Content/img/logo.png" alt="Logo">
                            </a>
                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "listeOrderadmin")
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">

                <ul class="breadcrumb">

                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Account</a></li>
                    <li class="breadcrumb-item active">Account Detail</li>

                </ul>

            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="product-detail-top">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">

                                    </div>
                                    <div class="product-slider-single-nav normal-slider">


                                    </div>
                                </div>

                                <div class="col-md-7">
                                    <div class="product-content">
                                        <div class="title"><h2>@Html.DisplayFor(model => model.CodeCompte)</h2></div>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <li>
                                            Customer_First_Name : @Html.DisplayFor(model => model.User.Firstname)

                                        </li>
                                        <li>
                                            Customer_Last_Name : @Html.DisplayFor(model => model.User.Lastname)

                                        </li>
                                        @*<div class="quantity">
                                                <h4>Quantity:</h4>
                                                <div class="qty">
                                                    <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                    <input type="text" value="1">
                                                    <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>*@

                                        @*<dt>
                                                @Html.DisplayNameFor(model => model.Qte)
                                            </dt>*@
                                        @*<li>
                                                @Html.DisplayNameFor(model => model.Produit.ProductName)        :@Html.DisplayFor(model => model.Produit.ProductName)
                                            </li>*@


                                        <li>
                                            @Html.DisplayNameFor(model => model.DateCreation)     :   @Html.DisplayFor(model => model.DateCreation)
                                        </li>


                                        <li>
                                            @Html.DisplayNameFor(model => model.Solde)      :    @Html.DisplayFor(model => model.Solde)
                                        </li>








    </dl>
</div>

        </ul>
    </div>




                            </div>
                        </div>
                    </div>
                </div>



</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <li>
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-cart">
                <span class="fas fa-trash"><h4>Are you sure you want to delete this?</h4></span>
            </button>


        </div>
        <button type="submit" class="btn btn-default"><span class="fa fa-trash"></span> Yes</button> |
        <button type="submit" class="btn btn-default"> <span class="fas fa-arrow-left"></span>@Html.ActionLink(" No", "listeOrderadmin")</button>
    </li>
}
