@model ConsommiTounsi.Models.Ads

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
@*@section Scripts{
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#startDate").datepicker();
                $("#finishDate").datepicker();
            })
        </script>
    }
    *@

    <h2>create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ads</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.mediaType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mediaType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mediaType, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.madia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.madia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.madia, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.startDate, htmlAttributes: new { @class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", @Type = "date" } })
            @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.finishDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.finishDate, new { htmlAttributes = new { @class = "form-control", @Type = "date" } })
            @Html.ValidationMessageFor(model => model.finishDate, "", new { @class = "text-danger" })
            <asp:CompareValidator id="cvtxtStartDate" runat="server"
                                  ControlToCompare="startDate" cultureinvariantvalues="true"
                                  display="Dynamic" enableclientscript="true"
                                  ControlToValidate="finishDate"
                                  ErrorMessage="Start date must be earlier than finish date"
                                  type="Date" setfocusonerror="true" Operator="GreaterThanEqual"
                                  text="Start date must be earlier than finish date">

            </asp:CompareValidator>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.target, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.target, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.target, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.targetView_tot, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.targetView_tot, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.targetView_tot, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
